.count{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
  width: 50%;
  border: 2px solid #d1d6d2 ;
}

.btonCount{
  width: 50%;
  border:none;
  outline: none;
  border-top: 2px solid #d1d6d2;
}

.btonCart{
  width: 100%;
  border:none;
  outline: none;
  border-top: 2px solid #d1d6d2;
  padding: 5px;
}

.link{
  text-decoration: none;
  color: black;
}

.itemList{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content;
  gap: 2rem;
  width: 80%;
  margin: auto;
}

.card{
  display: flex;
  width: 14rem;
  border: 2px solid grey;
  height: fit-content;
  text-align: center;
}

.detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid grey;
  margin: 20px auto; 
  padding: 20px;
  width: 70%;
  background-color: white;
}

.cart{
  width: 80%;
  margin: auto !important;

}

.product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  line-height: 1.5rem;
}

.imgDetail{
  width: 50%;
  margin: 20px;
}

.form{
  display: grid;
  text-align: center;
  width: 50%;
  align-content: center;
  margin: 4rem auto;
}

.input > * {
  margin:1rem auto;
}

hr{
  width: 80%;
  margin: 1rem auto !important;
  align-self: center;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.textbg {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.6);
  text-shadow: -2px 2px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.bgbanner{
  background-image: url('https://i.postimg.cc/dVQWc97p/85A2373.jpg');
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  border-top: 3px solid gray;
  background-image: linear-gradient(rgba(200, 200, 200, 0.5), rgba(0, 0, 0, 0.3));
  margin-top: 2rem;
  width: 100%;
}

footer.div{
  margin: 10px 10px;
}

ul{
  list-style: none;
}

.emptyCart{
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.1);
  width: 50%;
  margin: auto;
}
